<ion-slides (click)="goBack()" [initialSlide]="initialImg === 1 ? 3 : initialImg - 2" zooming="true" pager="true" spaceBetween="10">
  <ion-slide *ngIf="img2Url">
    <div class="item-content">
      <img [src]="img2Url">
    </div>
  </ion-slide>
  <ion-slide *ngIf="img3Url">
    <div class="item-content">
      <img [src]="img3Url">
      </div>
  </ion-slide>
  <ion-slide *ngIf="img4Url">
    <div class="item-content">
      <img [src]="img4Url">
    </div>
  </ion-slide>
  <ion-slide *ngIf="img1Url">
    <div class="item-content">
      <img [src]="img1Url">
    </div>
  </ion-slide>
</ion-slides>
