page-item {

  .item-container {
    max-width: 500px;
    margin: 0 auto;
  }

  .entry-title {
    text-align: center;
  }

  .subtitle {
    font-weight: bold;
    text-align: center;
  }
  .body {
    text-align: left;
    max-width: 500px;
    margin: 0 auto ;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  span.link {
    color: #387ef5;
    background: rgba(0,0,0,0.07);
  }

  .caption {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}
