page-item {

  .slide-zoom {
    height: 100%;
  }

  .subtitle {
    font-weight: bold;
  }
  .body {
    text-align: left;
    font-size: 0.8em;
  }

  span.link {
    color: blue;
    background: rgba(0,0,0,0.1);
  }

}
