<ion-header>
  <ion-navbar [hideBackButton]="false">
    <ion-title>
      <div class="header-container">
        <p class="header">canon<span class="ro">RO</span></p><p class="subheader"><span class="ro-small">r</span>uimtelijke</p><p class="subheader"><span class="ro-small">o</span>rdening</p>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="item-container">
    <h2 class="entry-title">{{entry.title}}</h2>
    <p class="subtitle">{{entry.subtitle}}</p>
    <img [src]="imgUrl(entry.id, 2)" (click)="showImages(entry, 2)">
    <p class="caption">{{entry.img2 === "true" ? "" : entry.img2}}</p>
    <p class="body"  *ngFor="let p of entry.body.split('\n')">
      <span *ngFor="let span of p | splitLinks" [class.link]="isLink(span)" (click)="goToItem(span)">{{span | createLinkText}}</span>
    </p>
    <div *ngIf="entry.img3 !== 'false'">
      <img [src]="imgUrl(entry.id, 3)" (click)="showImages(entry, 3)">
      <p class="caption">{{entry.img3 === "true" ? "" : entry.img3}}</p>
    </div>
    <div *ngIf="entry.img4 !=='false'">
      <img [src]="imgUrl(entry.id, 4)" (click)="showImages(entry, 4)">
      <p class="caption">{{entry.img4 === "true" ? "" : entry.img4}}</p>
    </div>
    <div>
      <img [src]="imgUrl(entry.id, 1)" (click)="showImages(entry, 1)">
      <p class="caption">{{entry.img1 === "true" ? "" : entry.img1}}</p>
    </div>
  </div>
</ion-content>
